body{
    font-family: 'Varela Round', sans-serif;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 80px;
}
section{
    display: flex;
    margin-bottom: 150px;
    align-items: center;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-color: chocolate;
    border-radius: 5px;
}
.down-banner{
    width: 35%;
    padding-left: 5%;
}
.down-banner img{
    width: 90%;
}
h3{
    font-size: 70px;
}
#highlights{
    text-align: center;
}
footer{
    text-align: center;
}