body{
    font-family: 'Varela Round', sans-serif;
}
h1{
    font-size: 80px;
}
.intro-area{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-color: chocolate;
    border-radius: 5px;
}